<footer id="publish-bar">
<div class="publish-bar-inner">
  {{render 'post-tags-input'}}

  <div class="publish-bar-actions">
    <button type="button" class="post-settings" {{action "toggleRightOutlet"}}></button>
    <button type="button" class="btn btn-sm btn-blue" {{action "save"}}>Save Changes</button>
  </div>
</div>
</footer>
