<section class="js-content-list">
  <header class="">
    <section class="content-filter">
      <small>Articles</small>
    </section>
    {{!TODO: bad style is bad}}
    <button {{action "saveOrder"}} {{bind-attr class=":btn :btn-default :btn-sm :btn-blue view.dirtyOrdering:enabled:disabled"}}>Save Order</button>
  </header>
  {{view "reorderable-articles-collection" controller=controller content=model}}
</section>
