<section class="js-content-list">
  <header class="">
    <section class="content-filter">
      <small>Articles</small>
    </section>
  </header>
  <ol class="posts-list">
    {{#each itemController="issue_editor/edit/article" itemView="article-item-view" itemTagName="li"}}
    {{#link-to "issue_editor.edit.article" this class="permalink" title="Edit this article"}}
    <h3 class="entry-title">{{title}}</h3>
    {{/link-to}}
    {{/each}}
  </ol>
</section>
