{{#if noIssues}}
<div class="no-posts">
    <h3>You haven't uploaded any issues yet!</h3>
    {{#link-to "issue_editor.new"}}<button type="button" class="btn btn-green btn-lg" title="New Issue">Upload a new Issue</button>{{/link-to}}
</div>
{{/if}}
