<header class="page-header">
  <button class="menu-button js-menu-button" {{action "toggleGlobalMobileNav"}}><span class="sr-only">Menu</span></button>
  <h2 class="page-title">New Issue</h2>
</header>

<div class="page-content">
  <div class="form-group">
    {{hb-pdf-uploader uploaded="setPdf" canceled="clearPdf"}}
  </div>
</div>
