<span class="btn btn-green btn-upload js-upload-button">
    <i class="icon-add"></i>
    <span>Upload PDF</span>
    <!-- The file input field used as target for the file upload widget -->
    <input data-url="upload" class="js-fileupload main fileupload pdf-upload" type="file" name="uploadpdf">
</span>
