.article-content {
  position: absolute;
  width: 0;
  bottom: 0;
  top: 0;
  right: 0;
  overflow: auto;
  background: #fff;
  border: none;
}

.article-content-preview {
  padding: 15px;
}

.issue-content {
  position: absolute;
  width: 67%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  overflow: auto;
  background: #fff;
  padding: 15px;
  margin: 0 auto;
  border: none;
}

.article-editor-header > section {
  float: left;
}

.back-box {
  height: 60px;
  width: 80px;

  .btn-back {
    height: 60px;
    width: 80px;
    border: none;
    border-right: 1px solid $lightbrown;
    border-radius: 0;
  }
}
